.navber{
    height: 50px;
    /* background-color: #003580; */
    background-color: #6291a7;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1020px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.log{
    font-weight: 500;
}
.navButton{
    width: 80px;
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    color: #6291a7;
    border-radius: 10px;
}
